.chatMessageDisplay {
	padding-top: 1px;
	overflow: scroll;
	height: 100%;
}

.chatMessageInput {
	width: 100%;
}

.chatMessageTopLeft {
	background-image: url('topleft.png');
	background-position: top left;
	background-repeat: no-repeat;
}
.chatMessageTopRight {
	background-image: url('topright.png');
	background-position: top right;
	background-repeat: no-repeat;
}
.chatMessageBottomLeft {
	background-image: url('bottomleft.png');
	background-position: bottom left;
	background-repeat: no-repeat;
}
.chatMessageBottomRight {
	background-image: url('bottomright.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	padding-bottom: 9px;
}
.chatHeaderLeft {
	background-image: url('openbracket.png');
	background-repeat: no-repeat;
	height: 17px;
}
.chatHeaderRight {
	background-image: url('closebracket.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 17px;
}
.chatHeaderSelf .chatHeaderLeft {
	float: left;
	margin-left: 9px;
}
.chatHeaderOther .chatHeaderLeft {
	float: right;
	margin-right: 9px;
}
.chatAuthor {
	margin-left: 9px;
	margin-right: 9px;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	height: 15px;
	font-family: arial, serif;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}
.chatHeaderSelf .chatAuthor {
	color: green;
}
.chatMessage {
	clear: both;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 0px;
	margin-bottom: 6px;
	font-family: arial, serif;
	font-size: 1em;
}
